body {
  margin: 0;
  background-color: darkgray;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#vertialButtons {
  display: flex;
  flex-direction: column;
}
button {
  border: none;
  border-radius: 5px;
  padding: 6px;
}
button:not(:last-child) {
  margin-bottom: 5px;
}
button:hover {
  background-color: blue;
}
#carCanvas {
  background-color: lightgray;
}
#networkCanvas {
  background-color: black;
}
